{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/goals.css' %}">
{% endblock extrahead %}
{% block element %}

  <div class="container">



    <p>create a new goal <a href="{% url 'ambitious:create_goal' %}">HERE</a></p>
    <div id='renderGoals'>



      <div class='list-group' id='goals' role='tabList'>
        <a v-for='goal in goals'
          class="list-group-item list-group-item-action"
          data-toggle="list"
          role="tab"
          v-bind:href="'#'+goal.slug"
          >
            ${goal.title}

        </a>
      </div>
      <div class=' container tab-content' id="tabContent">
        <div v-for='goal in goals'
          class="tab-pane tabPane"
          role="tabpanel"
          v-bind:id="goal.slug"
          >
            <div id='goalDescription'>
              <p>Goal Description: ${goal.text}</p>
            </div>
            <hr>
            <ul v-for="milestone in goal.milestones">
              <li>
                <p>${milestone.text}</p>
                <p>${milestone.deadline}</p>
              </li>
        </div>
      </div>
    </div>
  </div>
{% endblock element%}

{% block js_body %}

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{% static 'js/goals.js' %}"></script>
{% endblock js_body %}

{# <ul>
  {% for goal in goals %}
    <li>
      {{goal.title}}
        <a href="{% url 'ambitious:goals_view' goal.slug %}">{{goal.title}}</a>
        <ul>
          {% for milestone in milestones %}
            {% if milestone.goal_parent.title == goal.title %}
              <li>
                {{milestone.text}}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
    </li>
  {% endfor %}
</ul> #}

{# <ul v-for="goal in goals">
  <li v-text="goal.title"></li>
      <ul v-for="milestone in goal.milestones">
        <li v-text="milestone.text">
        </li>
      </ul>
</ul> #}
