{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block element %}


  <div class="container content-section">
    <form method="post">
      {% csrf_token %}
        <fieldset class="form-group">
          <legend class="corder-bottom mb-2">Join Today</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit" name="button">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
      </small>
    </div>
  </div>
{% endblock %}
