body {
  font-family: 'Poppins', sans-serif;
}

/* navbar css */
.navbar-brand {
  font-size: 2em;
  padding-left: 2em;
}

.navbar-nav {
  font-size: 1em;
  padding-right: 2em;
}

.nav-item {
  padding-left: .7em;
}

/* home.html css */
.jumbotron {
  display: flex;
  align-items: flex-end;
  height: 90%;
  background-image:url('images/frontimage.jpg');
  background-size: cover;
}

.jumbotron .container {
  width: 75%;
  margin-left: 3.5em;
}

.row{
  display: flex;
  align-items: center;
  margin: 1em;
}

.lr-one {
    background: #506C8B;
    /* color: #EBF1F1; */
}


p {
  color: #red;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
