{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/user_app.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    {% block extrahead %}{% endblock extrahead %}
    <title>{% block title %}AmbitioUs{% endblock %}</title>
  </head>
  <body>
    <div class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed">
        <a class="navbar-brand" href="{% url 'user_app:home' %}">AmbitioUs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav ml-auto" id="navBar">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% if user.is_authenticated %}
              <li class="nav-item">

              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_app:about' %}">How it Works?</a>
              </li>
              {% endif %}
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ambitious:goals' %}">Your Goals</a>
              </li>
              {% endif %}

              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"href="{% url 'register' %}">Register</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </ul>
      </nav>
    </div>

    {% block element %}{% endblock %}

    {% block js_body %}{% endblock js_body %}
  </body>
</html>
