{% extends 'base.html' %}
{% load static %}

{% block element %}
  <div class="jumbotron ">
    <div class="container">
      <p class="lead">Accomplish everything you have wanted to do.</p>
      <hr class="my-4" id="snapshot">
      <p>Assign yourself the goals you have been meaning to accomplish with solid milestones to capture your progress. Then, find other like minded individuals who will join your journey to improve yourself.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>
  <div class="container-fluid lr-one">
    <div class="row">
      <div class="col col-lg-4 left">
        <h2>Technology</h2>
      </div>
      <div class="col col-lg-8 right">
        <p>
          Machines are a thing we use. We can use them for the future. The future is accesible to those who have it.Machines are a thing we use. We can use them for the future. The future is accesible to those who have it.Machines are a thing we use. We can use them for the future. The future is accesible to those who have it.Machines are a thing we use. We can use them for the future. The future is accesible to those who have it.Machines are a thing we use. We can use them for the future. The future is accesible to those who have it.
        </p>
      </div>
    </div>
  </div>




{% endblock element %}

{% block js_body %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/goals.js' %}"></script>
{% endblock js_body %}
